@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
    color: #FFFFFF;
}

header {
    content: '';
    background: linear-gradient(to top, #1c0522, #4a488e);
    color: #fff;
}

/* section must include this */
.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}
.sec hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.news-head{
    width: calc(70%);
    line-height: 2;
}
.news-head p{
    margin: 20px;
}
section{
    justify-content:space-between;
    display: flex; 
}   
#date{
    color: #504f4f;
}
#part1{
    width: calc(75%);   
} 
#part2{
    width: calc(25%);
    height: 70%;
    margin-top: -360px;
    border-radius: 8px;
    padding: 20px;
}
#part2 #hol{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(119, 143, 158), rgba(0, 0, 0, 0));

}
#part2 p{
    text-align: justify;
    font-weight: bold;
}
#news_9 img{
    width:100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.7;
}
#news_10 img,#news_11 img,#news_12 img,#news_13 img,#news_14 img{
    width:100px; 
    height:auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
    border-radius: 2px;
    opacity: 0.7;

    
}
#news_9 p,#news_10 p,#news_11 p,#news_12 p,#news_13 p,#news_14 p{
    cursor: pointer;
    border-radius: 8px;
}
#part2 p:hover{
    z-index: 1;
    color: #a7a867;
}
#part2 #p:hover{
    transform: scale(1.3);
    z-index: 1;
    color: #e61d1d;
}


#news_main img{
    width: 100%;
    height: 70%;
    border-radius: 8px;
    transition: 1s;
    opacity: 0.7;
}
#news_main p{
    font-size: 0.9rem;
    margin-top: 1px;
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
}
#news_1:hover,#news_2:hover,#news_3:hover,#news_4:hover,#news_5:hover,#news_6:hover,#news_7:hover,#news_8:hover{
    transform: scale(1.1);
    z-index: 1;
    color: #727070;
}
#news_1, #news_2, #news_3, #news_4, #news_5, #news_6, #news_7, #news_8{
    width: 350px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 4px 7px 7px 0px #0d080f;
    cursor: pointer;
    position: relative;
    margin: 20px;
}
#news_main{
    display: flex;
    flex-wrap: wrap;
}
#content{
    margin-top: 30px;
    line-height: 2.2;
}
#content .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    border-radius: 4px;
    margin-bottom: 30px;
    opacity: 0.7;
}
#content p{
    font-size: 1rem;
    text-align: center; 
    margin-bottom: 20px;
    font-family: "Roboto", Arial, sans-serif;

}
#content h1{
    text-align: center;
    line-height: 1.5;
    font-family: "Georgia", Times New Roman, serif; 
}
.news11_img_slideshow{
    position: relative;
    max-width: 600px;
    max-height: 400px;
   margin-left: 280px;
   overflow: hidden;
   border-radius: 8px;
}
.news11_img{
    display:block;
   width: 600px;
   height: 500px;
  
}
.nbutton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #131212;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    padding: 10px;
    margin-right: 0px;
    font-size: 20px;
  
}
.nbutton:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
  }
.ndisplay-left{
    left: 0px;
}
.ndisplay-right{
    right: 0px;
}
#next {
    border-radius: 4px;
    background-color: #e61d1d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 85%;

  }
  
#next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#next:hover span {
    padding-right: 25px;
  }
#next:hover span:after {
    opacity: 1;
    right: 0;
  }