select{
    width: 500px;
    height: 40px;
    
}
h1{
    margin-bottom: 50px;
    font-size: 60px;
}

img{
    width: 100%;
}

.photoNtopicNps1,
.photoNtopicNps2,
.photoNtopicNps3,

.photoNtopicNpst1,
.photoNtopicNpst2,
.photoNtopicNpst3,

.photoNtopicNpt1,
.photoNtopicNpt2,
.photoNtopicNpt3


{
    text-align: center;
}


.hiddens1,
.hiddens2,
.hiddens3,

.hiddenst1,
.hiddenst2,
.hiddenst3,

.hiddent1,
.hiddent2,
.hiddent3

{
    display: none;
}
    
.btns1,
.btns2,
.btns3,

.btnst1,
.btnst2,
.btnst3,


.btnt1,
.btnt2,
.btnt3

{
    cursor: pointer;
}



.s1p1,
.s2p2,
.s3p3,

.st1p1,
.st2p2,
.st3p3,

.t1p1,
.t2p2,
.t3p3

{
    font-size: 50px;
}

.photos1,
.photos2,
.photos3,

.photost1,
.photost2,
.photost3,

.photot1,
.photot2,
.photot3
{
    width: 600px;
    height: 300px;
}
.ani{
    transition: 1s;
}
.ani1:hover{
    transform: scale(1.1);
    z-index: 1;
}
.bm{
    margin-top: 12px;
    width: 100px;
    height: 30px;
    border-radius: 12px;
}
h1.h1{
    font-size: 100px;
    text-shadow: #2b1055
}



@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}

header {
    content: '';
    background: linear-gradient(to top, #1c0522, #4a488e);
    color: #fff;
}

/* section must include this */
.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}
.sec hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
h1,.text-description{
    color: white;
}
.st{
    width: 500px;
    width: 50px;
}
h1,.choose{
    margin-right: 10px;
}